[submodule "footprints/ceoloide"]
	path = footprints/ceoloide
	url = https://github.com/ceoloide/ergogen-footprints.git
[submodule "footprints/infused-kim"]
	path = footprints/infused-kim
	url = https://github.com/infused-kim/kb_ergogen_fp.git
[submodule "footprints/tildewill"]
	path = footprints/tildewill
	url = https://github.com/tildewill/ergogen_footprints.git
